<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb#">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
  <link rel="alternate" hreflang="en-US" href="index.html" />
  <meta name="robots" content="index,follow" />
  <meta charset="utf-8">
  <title>Read Manga Online</title>
  <meta name="description" content="Read manga online free at Mangakakalot.com, update fastest, most full, synthesized 24h free with high-quality imagesa and be the first one to publish new chapters." />
  <meta name="keywords" itemprop="keywords" content="Manga, Read Manga Online, Read Manga, Manga Online, Manga Scans, Free Manga, Mangakakalot" />
  <meta name="viewport" content="width=device-width" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="mangakakalot">
  <meta name="twitter:title" content="Mangakakalot - Read Manga Online">
  <meta name="twitter:description" content="Read manga online free at Mangakakalot.com, update fastest, most full, synthesized 24h free with high-quality images and be the first one to publish new chapters.">
  <meta name="twitter:image" content="../lh3.googleusercontent.com/-iK1y5xV28gs/WCcslYmPKAI/AAAAAAACQGg/o9pv0oioVlY/s0/5826ca23a4ad3.jpg">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Mangakakalot - Read Manga Online" />
  <meta property="og:url" content="index.html" />
  <meta property="og:image" content="../lh3.googleusercontent.com/-iK1y5xV28gs/WCcslYmPKAI/AAAAAAACQGg/o9pv0oioVlY/s0/5826ca23a4ad3.jpg" />
  <meta property="og:description" content="Read manga online free at Mangakakalot.com, update fastest, most full, synthesized 24h free with high-quality images and be the first one to publish new chapters." />
  <meta property="og:site_name" content="mangakakalots.com" />
  <link rel="shortcut icon" href="../static/themes/home/images/favicon.ico" />

  <script type="text/javascript" src="../static/themes/home/js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="../static/themes/home/js/owl.carousel.js"></script>
  <script type="text/javascript" src="../static/themes/home/js/back-to-top3860.js?v=1"></script>
  <script type="text/javascript" src="../static/themes/home/js/ddimgtooltip3860.js?v=1"></script>
  <script type="text/javascript" src="../static/themes/home/js/fsearch614e.js?v=1.8?v=1"></script>
  <script type="text/javascript" src="../static/themes/home/js/custom3860.js?v=1"></script>
  <script type="text/javascript" src="../static/themes/home/js/cookie3860.js?v=1"></script>
  <script type="text/javascript" src="../static/themes/starrate/js/starwarsjs3860.js?v=1"></script>

  <link rel="stylesheet" href="../static/themes/home/styles/style.css">
  <link rel="stylesheet" href="../static/themes/home/styles/owl.carousel3860.css?v=1">
  <link rel="stylesheet" href="../static/themes/home/styles/owl.theme3860.css?v=1">
  <link rel="stylesheet" href="../static/themes/home/styles/ddimgtooltip3860.css?v=1">
  <link rel="stylesheet" href="../static/themes/home/styles/style_search3860.css?v=1">
  <link rel="stylesheet" href="../static/themes/starrate/css/style3860.css?v=1" />



  <script type="application/javascript">
      baseurljs = 'index.html';
      tooltypejs = 'Computer';
  </script>

  <style>
      .rate_star.over {
          color: #00ff00;
      }
  </style>

  <script type="application/javascript">
      _base_url_search = 'search/index.html';
      _base_url_search_author = "search_author/index.html";
  </script>

</head>



<body>

<!-- Header Start Here -->
  <header>

    <!-- Top Container (Logo, Search form, Login-Registration, Mobile-Menu, Primary Menu) Code Start Here -->
    <div class="container container-top">

      <!-- Main Logo Code -->
      <div class="top-logo">
        <a href="{{ url_for('home') }}" title="Manga Online">
          <img src="../static/themes/home/icons/logo.png" alt="Manga Online" title="Manga Online">
        </a>
      </div>
      <!-- Main Logo Code End -->


      <!-- Top Header Section (Search form, Login-Registration) Start Here -->
      <div class="top-header">

      <!-- Search Form Start -->
      <div class="searching">
        <form action="{{url_for('menu_search')}}" method="POST" style="position:relative;">
          <input name='searchtext' autocomplete="off"  placeholder="Search manga..." />
          <select id="search_style" name="search_select" style="">
            <option value="Manga Name">Manga Name</option>
            <option value="Authors">Authors</option>
          </select>
          <input type="submit" value="submit" style="position:absolute; top:0px; left:0px; width:20px; height:32px;cursor:pointer;border-bottom:0px;">
        </form>
      </div>
      <!-- Search Form End -->

      {% if session %}
          <div class="user-options">
            <span class="name">
              <a href="{{ url_for('account') }}">
                <img src="../static/themes/home/images/user_avatar.jpg">
                <p>{{session.username}}</p>
              </a>
            </span>
            <a href="{{ url_for('bookmark') }}"><i class="notification">{% if total_bookmark != 0 %}<em class="notifications_num"> {{total_bookmark}}  </em>{% endif %}</i></a>
            <a href="{{ url_for('history') }}"><i class="history"></i></a>
            <a href="{{ url_for('logout') }}"><i class="logout"></i></a>
          </div>
      {% else %}
            <!-- Login & Regitration Code -->
          <div class="user-options">
            <div class="login-top">
              <a rel="nofollow" href="{{ url_for('login') }}" class="btn-login">
                Login
              </a>
              <a rel="nofollow" href="{{ url_for('register') }}" class="btn-register">
                Register
              </a>
            </div>
          </div>
          <!-- Login & Registration Code End -->
      {% endif %}

      </div>
      <!-- Top Header Section (Search form, Login-Registration) End Here -->



      <!-- Mobile Menu Button Code -->
      <a class="mobile-menu">
        MENU
      </a>
      <!-- Mobile Menu Button Code End -->


      <!-- Navigation Menu Start Here -->
      <nav class="wrap-menu-primary">
        <ul id="menu-menu-top" class="menu-primary">
          <li class="menu-item"><a href="{{ url_for('home') }}">HOME</a></li>
          <li class="menu-item"><a href="{{ url_for('manga', page=1) }}" title="LATEST MANGA">LATEST MANGA</a></li>
          <li class="menu-item"><a href="{{ url_for('manga_hot', page=1) }}" title="HOT MANGA">HOT MANGA</a></li>
          <li class="menu-item"><a href="{{ url_for('manga_new', page=1) }}" title="NEW MANGA">NEW MANGA</a></li>
          <li class="menu-item"><a href="{{ url_for('manga_completed', page=1) }}" title="COMPLETED MANGA">COMPLETED
        </ul>
      </nav>
      <!-- Navigation Menu End Here -->

    </div>
    <!-- Top Container (Logo, Search form, Login-Registration, Mobile-Menu, Primary Menu) Code Start Here -->

  </header>
<!-- Header End Here -->



<div class="container">
<div class="slide">

<h3 class="title update-slide">
  POPULAR MANGA
</h3>

<!-- Carousel Start Here -->
<div id="owl-demo" class="owl-carousel">

  {% for item in popular_manga_list %}
    <div class="item">
      <img src="{{item['image']}}" onerror="javascript:this.src='../static/themes/home/images/404-avatar.png';" />
      <div class="slide-caption">
        <h3>
          <a href="{{url_for('manga_id', manga_id = item['id'])}}" title="{{item['title']}}">
            {{item['title']}}
          </a>
        </h3>
        <!-- <a href="chapter/pn918005/chapter_58.html" title="Chapter 58">
          Chapter 58
        </a> -->
      </div>
    </div>
  {% endfor %}
</div>
<!-- Carousel End Here -->

</div>






<div class="main-wrapper">
<div class="leftCol">
<!-- <div style="width: 100%;overflow: hidden;text-align: center;float: left;">
<div style="max-width: 728px;max-height: 90px;overflow: hidden;margin: 0px auto;">
<iframe src="/ads/adtrue_728x90_desktop.html" scrolling="no" frameborder="0" style="width: 728px;height: 90px;"></iframe>
</div>
</div> -->
<h1 style="display: none;">Read manga online for free in high quality and most full</h1>
<div class="breadcrumb breadcrumbs">
<div class="rdfa-breadcrumb">
<div>
<p>
<span class="breadcrumbs-title"> </span>
<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<a itemprop="url" class="home" href="{{url_for('home')}}" title="Manga Online">
<span itemprop="title">Manga Online</span>
</a>
</span>
<span class="separator">»</span>
<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<a itemprop="url" href="{{url_for('bookmark')}}">
<span itemprop="title">Bookmark</span>
</a>
</span>
</p>
</div>
</div>
</div>

<div class="bookmark_list">
  {% for item in bookmark_data %}
    <div class="bookmark_item">
      <!-- <a href="" class="bookmark_btnremove remove-follow">Remove</a> -->
      <a rel="nofollow" href="{{url_for('manga_id', manga_id = item['id'])}}">
      <img src="{{item['image']}}" onerror="javascript:this.src='//manganelo.com/themes/home/images/404-avatar.png';" />
      </a>
      <a class="bookmark_title" rel="nofollow" style="color: red;" href="{{url_for('manga_id', manga_id = item['id'])}}">{{item['title']}}</a><br>
      <span class="bookmark_chap">Summary : <a rel="nofollow" href="{{url_for('manga_id', manga_id = item['id'])}}">{{item['summary'] | truncate(350) }}</a></span><br>
      <!-- <span class="bookmark_chap">Current : <a rel="nofollow" href="https://manganelo.com/chapter/bq918546/chapter_4">Vol.1 Chapter 4</a></span> -->
    </div>
  {% endfor %}
</div>

<div style="clear: both"></div>
<div class="phan-trang" style='display: none;'>
<div class="group-page"><a href="https://manganelo.com/bookmark?page=1" class="page page-blue">First(1)</a><a class="pageselect">0</a><a href="https://manganelo.com/bookmark?page=0" class="page page-blue">Last(0)</a></div><div class="group-qty"><a class="quantitychapter page-blue">Total: 0 stories</a></div></div>
<script>
jQuery(document).ready(function($) {
    $('.remove-follow').click(function() {
        var follow = $(this);
        var bookmarkid = $(this).attr('data-id');
        jQuery.ajax({
            type: 'POST',
            data: {'idnote': bookmarkid},
            url: 'https://manganelo.com/home_story_remove_bookmark',
            success: function(resp) {
                if (resp == 'success') {
                follow.parent().hide('normal');
                }
            }
        });
    });
});
</script> </div>
<div class="middleCol">
<!-- <div style="float: left;width: 100%;text-align: center;">
<div style="max-width: 300px;max-height: 250px;margin: 0px auto;overflow: hidden;">
 <iframe src="/ads/adtrue_300x250_desktop.html" scrolling="no" frameborder="0" style="width: 300px;height: 250px;"></iframe>
</div>
</div> -->
<div class="xem-nhieu">
<h3 class="title all-title">Most Popular Manga</h3>
<div class="all">
  {% for item in most_popular_manga %}
      <div class="xem-nhieu-item">
      <h3><a href="{{url_for('manga_id', manga_id = item['id'])}}" title="{{item['title']}}">{{item['title']}}</a></h3>
      </div>
  {% endfor %}
</div>
</div>


<div class="tag tag-left">
<h3 class="title tag-title">GENRES</h3>
<ul class="tags tag-name">
  {% for genre in genres %}
    <li>
      <a rel="tag" href="#" title="{{genre}}">
        {{genre}}
      </a>
    </li>
  {% endfor %}
</ul>
<ul class="tags spec-tag">
{% for category in categories %}
  <li>
    <a rel="tag" href="#" title="{{ category }}">
      {{ category }}
    </a>
  </li>
{% endfor %}
</ul>
</div>
<!-- <div style="float:  left;width:  100%;text-align:  center;">
<div style="max-width: 336px;max-height: 280px;margin: 0px auto;overflow: hidden;">
<iframe src="/ads/bidgear_300x250_desktop.html" scrolling="no" frameborder="0" style="width: 300px;height: 250px;"></iframe>
</div>
</div> -->
<div style="clear: both"></div>
</div>
</div>
</div>
<footer>
<div class="footer-content">
<p>©2016 {{url_for('home')}}, all rights reserved. Top speed, completely free. </p>
</div>
</footer>
<script type="text/javascript" src="../static/themes/home/js/custom-fotter7839.js?v=2.9"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110559829-1"></script>

</body>
</html>
