{% extends 'base-template.html' %}


{% block content %}



<div class="main-wrapper">
<div class="leftCol">
    <!-- <script type="text/javascript">
        $(document).ready(function() {
            tooltip();
            $.getJSON({{url_for('home_json_tooltips')}}, function(manga) {
                var id = "";
                var str_id_isset = ",";
                $('a.tooltip').hover(function(e) {
                    if (!$(this).hasClass('hastool')) {
                        id = $(this).attr('data-tooltip');
                        $.each(manga, function(key, val) {
                            if ("sticky_"+val.id == id && str_id_isset.indexOf(","+val.id+",") == -1) {
                                str_id_isset += val.id + ",";
                                $tooltip_add = '<div id="'+ id +'" class="atip"> <div id="tooltip"> <h3>' + val.name + '</h3> <div class="message_main"> <div class="message_mainT"> <div class="message_mainI"> <img src="' + val.image + '" onerror="javascript:this.src=\'//mangarock.herokuapp.com/themes/home/images/404-avatar.png\';"> </div> <div class="message_main_text"> <p> <label>Author(s):</label>' + val.author + '</p> <p> <label>Last updated:</label>' + val.updatetime + '</p> <p> <label>View :</label>' + val.view + '</p> <p> <label>Genre(s) :</label>' + val.genres + '</p> </div> </div> <div class="message_mainB"> <span>Summary :</span>' + val.description + '</div> </div> </div> </div>';
                                $('#mystickytooltip').append($tooltip_add);
                                return false;
                            }
                        });
                        $(this).addClass('hastool');
                    }
                    $(this).attr("title", "");
                }, function() {});
            });
        });
    </script> -->

<h1 style="display: none;">Read manga online for free in high quality and most full</h1>

<div class="daily-update">
<h2 class="title update-title" title="Latest Manga Releases">LATEST MANGA RELEASES</h2>
</div>



<div id="contentstory">
<div class="doreamon">



{% for item in latest_mange_releases %}
<div class="itemupdate first">

  <a rel="nofollow" data-tooltip="sticky_10162" class="tooltip cover" href="{{url_for('manga_id', manga_id = item['id'])}}">
    <img src="{{item['image']}}" onerror="javascript:this.src='../static/themes/home/images/404-avatar.png';" width="60" height="85">
  </a>

  <ul>
    <li>
      <h3>
        <a class="tooltip" data-tooltip="sticky_10162" href="{{url_for('manga_id', manga_id = item['id'])}}">{{item['title']}}
        </a>
      </h3>
      <a class=" textdecoration"></a>
      <a class="non"></a>
    </li>
    <li>
      <span>
        <a class="sts sts_1" href="chapter/ueb1016274565487/chapter_17.html" title="Vol.4 Chapter 17">
          {% if latest_manga_releases_chapter_list[latest_mange_releases.index(item)] %}
            {{latest_manga_releases_chapter_list[latest_mange_releases.index(item)]['chapter_link_text'][0]}}
          {% endif %}
        </a>
      </span>
      <i>
        {% if latest_manga_releases_chapter_list[latest_mange_releases.index(item)] %}
          {{latest_manga_releases_chapter_list[latest_mange_releases.index(item)]['chapter_time_uploaded'][0]}}
        {% endif %}
      </i>
    </li>

  </ul>
</div>
{% endfor %}



</div>
</div>


<!-- Load Image Button -->
<div id="loadpage">
<div>
<a href="{{ url_for('manga', page=1) }}" class="xem-them">MORE</a>
</div>
</div>
<!-- Load Image Button End -->



<div id="mystickytooltip" class="stickytooltip"></div> </div>
<div class="middleCol">
<div style="clear: both">
</div>


<!-- Facebook Plugin Start -->
<div style="margin-top:10px;margin-bottom:10px;width:100%!important;text-align: center;" class="fb-page" data-href="https://www.facebook.com/mangakakalot/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
  <div class="fb-xfbml-parse-ignore">
  </div>
</div>
<!-- Facebook Plugin End -->


<div class="xem-nhieu">
<h3 class="title all-title">Most Popular Manga</h3>
<div class="all">

  {% for item in most_popular_manga %}
      <div class="xem-nhieu-item">
      <h3><a href="{{url_for('manga_id', manga_id = item['id'])}}" title="{{item['title']}}">{{item['title']}}</a></h3>
      </div>
  {% endfor %}


</div>
</div>
<div class="tag tag-left">
<h3 class="title tag-title">GENRES</h3>

  <ul class="tags tag-name">
      {% for genre in genres %}
        <li>
          <a rel="tag" href="#" title="{{genre}}">
            {{genre}}
          </a>
        </li>
      {% endfor %}
  </ul>

<ul class="tags spec-tag">
  {% for category in categories %}
    <li>
      <a rel="tag" href="#" title="{{ category }}">
        {{ category }}
      </a>
    </li>
  {% endfor %}
</ul>

</div>
<div style="clear: both"></div>
</div>
</div>
</div>

{% endblock content %}
