<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb#">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
  <link rel="alternate" hreflang="en-US" href="index.html" />
  <meta name="google-site-verification" content="TNfDROcsP2nhZRixOKhUq1_GZ0d_EgiCxb0eRRgfMHg" />
  <meta name="robots" content="index,follow" />
  <meta charset="utf-8">
  <title>Read Manga Online</title>
  <meta name="description" content="Read manga online free at Mangakakalot.com, update fastest, most full, synthesized 24h free with high-quality imagesa and be the first one to publish new chapters." />
  <meta name="keywords" itemprop="keywords" content="Manga, Read Manga Online, Read Manga, Manga Online, Manga Scans, Free Manga, Mangakakalot" />
  <meta name="viewport" content="width=device-width" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="mangakakalot">
  <meta name="twitter:title" content="Mangakakalot - Read Manga Online">
  <meta name="twitter:description" content="Read manga online free at Mangakakalot.com, update fastest, most full, synthesized 24h free with high-quality images and be the first one to publish new chapters.">
  <meta name="twitter:image" content="../lh3.googleusercontent.com/-iK1y5xV28gs/WCcslYmPKAI/AAAAAAACQGg/o9pv0oioVlY/s0/5826ca23a4ad3.jpg">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Mangakakalot - Read Manga Online" />
  <meta property="og:url" content="index.html" />
  <meta property="og:image" content="../lh3.googleusercontent.com/-iK1y5xV28gs/WCcslYmPKAI/AAAAAAACQGg/o9pv0oioVlY/s0/5826ca23a4ad3.jpg" />
  <meta property="og:description" content="Read manga online free at Mangakakalot.com, update fastest, most full, synthesized 24h free with high-quality images and be the first one to publish new chapters." />
  <meta property="og:site_name" content="index.html" />
  <meta property="fb:app_id" content="1664224760511779" />
  <link rel="shortcut icon" href="../static/themes/home/images/favicon.ico" />

  <script type="text/javascript" src="../static/themes/home/js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="../static/themes/home/js/owl.carousel.js"></script>
  <script type="text/javascript" src="../static/themes/home/js/back-to-top3860.js?v=1"></script>
  <script type="text/javascript" src="../static/themes/home/js/ddimgtooltip3860.js?v=1"></script>
  <script type="text/javascript" src="../static/themes/home/js/fsearch614e.js?v=1.8?v=1"></script>
  <script type="text/javascript" src="../static/themes/home/js/custom3860.js?v=1"></script>
  <script type="text/javascript" src="../static/themes/home/js/cookie3860.js?v=1"></script>
  <script type="text/javascript" src="../static/themes/starrate/js/starwarsjs3860.js?v=1"></script>

  <link rel="stylesheet" href="../static/themes/home/styles/style.css">
  <link rel="stylesheet" href="../static/themes/home/styles/owl.carousel3860.css?v=1">
  <link rel="stylesheet" href="../static/themes/home/styles/owl.theme3860.css?v=1">
  <link rel="stylesheet" href="../static/themes/home/styles/ddimgtooltip3860.css?v=1">
  <link rel="stylesheet" href="../static/themes/home/styles/style_search3860.css?v=1">
  <link rel="stylesheet" href="../static/themes/starrate/css/style3860.css?v=1" />

  <script type='application/ld+json'>
    {"@context":"https:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/mangarock.herokuapp.com\/","name":"mangakakalot Online","potentialAction":{"@type":"SearchAction","target":"https:\/\/mangarock.herokuapp.com\/search\/{search_term_string}","query-input":"required name=search_term_string"}}
  </script>

  <script type="application/javascript">
      baseurljs = 'index.html';
      tooltypejs = 'Computer';
  </script>

  <style>
      .rate_star.over {
          color: #00ff00;
      }
  </style>

  <script type="application/javascript">
      _base_url_search = 'search/index.html';
      _base_url_search_author = "search_author/index.html";
  </script>

</head>



<body>

  <header>
    <div class="container container-top">

      <div class="top-logo">
        <a href="{{ url_for('home') }}" title="Manga Online">
          <img src="../static/themes/home/icons/logo.png" alt="Manga Online" title="Manga Online">
        </a>
      </div>
      <div class="top-header">


      <div class="searching">
        <form name="frmsearch">
          <input id="search_story" autocomplete="off" placeholder="Search manga..." />
          <input style="display: none;" />
          <select id="search_style" style="">
            <option value="tentruyen">Manga Name</option>
            <option value="tentacgia">Authors</option>
          </select>
        </form>
      </div>


      <div class="user-options">
        <div class="login-top">
          <a rel="nofollow" href="{{ url_for('login') }}" class="btn-login">
            Login
          </a>
          <a rel="nofollow" href="{{ url_for('register') }}" class="btn-register">
            Register
          </a>
        </div>
      </div>
      </div>

      <a class="mobile-menu">
        MENU
      </a>

      <nav class="wrap-menu-primary">
        <ul id="menu-menu-top" class="menu-primary">
          <li class="menu-item"><a href="{{ url_for('home') }}">HOME</a></li>
          <li class="menu-item"><a href="{{ url_for('manga', page=1) }}" title="LATEST MANGA">LATEST MANGA</a></li>
          <li class="menu-item"><a href="{{ url_for('manga_hot', page=1) }}" title="HOT MANGA">HOT MANGA</a></li>
          <li class="menu-item"><a href="{{ url_for('manga_new', page=1) }}" title="NEW MANGA">NEW MANGA</a></li>
          <li class="menu-item"><a href="{{ url_for('manga_completed', page=1) }}" title="COMPLETED MANGA">COMPLETED
        </ul>
      </nav>

    </div>
  </header>





<div class="container">
<div class="main-wrapper">
<div class="leftCol listCol">
<div class="truyen-list">
<script>
    link_referral_name = 'manganelo';
    link_home_ref = 'https://user.manganelo.com/?l=manganelo';
</script>
<script type="text/javascript" src="https://user.manganelo.com/themes/home/js/login.js?v=8"></script>
<div class="breadcrumb breadcrumbs">
<div class="rdfa-breadcrumb">
<div>
<p>
<span class="breadcrumbs-title"> </span>
<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<a itemprop="url" href="{{ url_for('home') }}" class="home">
<span itemprop="title">Manga Online</span>
</a>
</span>
<span class="separator">»</span>
<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<a>
<span itemprop="title">Login</span>
</a>
</span>
</p>
</div>
</div>
</div>
<div class="login-panel">
<div class="loginlocal">


<!-- Login Form Start Here -->

<!-- Error message div -->
<div class="" style="color:red; font-weight:bold, font-size:18px;">
  {% if error_message %}
    <p>{{ error_message }}</p>
  {% endif %}
</div>
<!-- Error message div end -->


<form action="{{ url_for('login') }}" method="post" id="login_form" name="login_form">
<h1>Login your account</h1>
<div class="user-name-panel">
<i></i>
<input class="user-name" name="username" placeholder="User name">
</div>
<div class="pass-panel">
<i></i>
<input class="pass" name="password" placeholder="Password" type="password">
</div>
<!-- <div class="captchar">
<img src="https://user.manganelo.com/captcha/1550490964.4061.jpg" width="100" height="45" style="border:0;" alt=" " /> <input name="captchar" placeholder="Captchar">
</div> -->
<input name="submit_login" type="submit" id="submit_login" value="SIGN IN" class="submit">
<div id="alert-error" class="alert-error"></div>
<div class="account-more">
<a href="{{url_for('register')}}" style="float: left;font-size: 14px;color: #6d74ff;font-weight: 600;">Create an account?</a>
<a href="#" style="float: right;font-size: 14px;color: #6d74ff;font-weight: 600;">Forgot your password?</a>
</div>
</form>
<!-- Login Form End Here -->


</div>
<!-- <div class="login-fb">
<div>
<h2>Login the easy way : </h2>
<br>
<a onclick="loginfacebook();" href="javascript:void(0);">
<img src="https://user.manganelo.com/themes/home/images/facebooklogin.png" style="max-width: 100%;">
</a>
<br>
<div style="width: 100%;font-size: 14px;">
<em>Click the button above to quick login with facebook account</em>
</div>
</div>
</div> -->
</div>
<!-- <script>
    $_url = 'https://user.manganelo.com/login_handle';

    function checkstring(str) {
        for(i = 0;i < str.length;i++) {
            if(!((48 <= str.charCodeAt(i) && str.charCodeAt(i) <= 57) || (65 <= str.charCodeAt(i) && str.charCodeAt(i) <= 90) || (97 <= str.charCodeAt(i) && str.charCodeAt(i) <= 122)))
                return false;
        }
        return true;
    }

    function login() {
        /* Kiểm tra rỗng */
        if(document.login_form.captchar.value.trim() == "" || document.login_form.username.value.trim() == "" || document.login_form.password.value.trim() == "") {
            $('#alert-error').html('★ Please fill in the blank!');
            return;
        };

        /* Kiểm tra số giới hạn số từ */
        if(document.login_form.captchar.value.trim().length != 4) {
            $('#alert-error').html('★ Captcher must be 4 words!');
            return;
        }

        $.ajax({
            url: $_url,
            type:"post",
            data: {
                'user': document.login_form.username.value,
                'pass': document.login_form.password.value,
                'captchar': document.login_form.captchar.value
                },
            success: function(data) {
                if(data == 'okie') {
                    window.location = link_home_ref;
                } else {
                    $('#alert-error').html(data);
                }
            }
        });
    }

    $(document).ready(function() {
        $('#submit_login').click(function() {
            login();
        });
    });
</script> -->
</div>
</div>
</div>
</div>
<footer>
<div class="footer-content">
<p>©2016 {{url_for('home')}}, all rights reserved. Top speed, completely free. </p>
<!-- <p>Current Time is Feb-18-2019 19:56:04 PM.</p> -->
</div>
</footer>
</body>
</html>
