
<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb#">
<head>
<link rel="alternate" hreflang="en-US" href="https://mangarock.herokuapp.com/chapter/zu917722/chapter_48" />
<meta name="google-site-verification" content="TNfDROcsP2nhZRixOKhUq1_GZ0d_EgiCxb0eRRgfMHg" />
<meta name="robots" content="index,follow" />
<meta charset="utf-8">
<title>{{manga_details['title']}} {{ current_chapter_id }}</title>
<meta name="description" content="Read A Returner's Magic Should Be Special Chapter 48 - &quot;Now that I&#39;m back, I won&#39;t allow my loved ones to die again!&quot;

The Shadow Labyrinth - the most catastrophic existence humanity has faced in history.
Desir Arman is one of the six remaining survivors of mank" />
<meta name="keywords" itemprop="keywords" content="A Returner's Magic Should Be Special Chapter 48 online, A Returner's Magic Should Be Special Chapter 48 for free, A Returner's Magic Should Be Special 48, A Returner's Magic Should Be Special Chapter 48" />
<meta name="viewport" content="width=device-width" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="mangakakalot">
<meta name="twitter:title" content="A Returner's Magic Should Be Special Chapter 48 - Mangakakalot.com">
<meta name="twitter:description" content="&quot;Now that I&#39;m back, I won&#39;t allow my loved ones to die again!&quot;

The Shadow Labyrinth - the most catastrophic existence humanity has faced in history.
Desir Arman is one of the six remaining survivors of mankind within it.

The six attempt to clear the final level of the labyrinth but ultimately fail, and the world comes to an end.

However - when Desir thought he would meet his demise, what is revealed before him is the world... thirtee">
<meta name="twitter:image" content="https://avt.mkklcdnv3.com/avatar_225/21339-zu917722.jpg">
<meta property="og:type" content="website" />
<meta property="og:title" content="A Returner's Magic Should Be Special Chapter 48 - Mangakakalot.com" />
<meta property="og:url" content="https://mangarock.herokuapp.com/chapter/zu917722/chapter_48" />
<meta property="og:image" content="https://avt.mkklcdnv3.com/avatar_225/21339-zu917722.jpg" />
<meta property="og:description" content="&quot;Now that I&#39;m back, I won&#39;t allow my loved ones to die again!&quot;

The Shadow Labyrinth - the most catastrophic existence humanity has faced in history.
Desir Arman is one of the six remaining survivors of mankind within it.

The six attempt to clear the final level of the labyrinth but ultimately fail, and the world comes to an end.

However - when Desir thought he would meet his demise, what is revealed before him is the world... thirtee" />
<meta property="og:site_name" content="https://mangarock.herokuapp.com/" />
<meta property="fb:app_id" content="1664224760511779" />



<link rel="shortcut icon" href="{{ url_for('static', filename='themes/home/images/favicon.ico') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='themes/home/js/jquery-1.9.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='themes/home/js/owl.carousel.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='themes/home/js/back-to-top3860.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='themes/home/js/ddimgtooltip3860.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='themes/home/js/fsearch614e.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='themes/home/js/custom3860.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='themes/home/js/cookie3860.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='themes/starrate/js/starwarsjs3860.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='themes/home/styles/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='themes/home/styles/owl.carousel3860.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='themes/home/styles/owl.theme3860.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='themes/home/styles/ddimgtooltip3860.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='themes/home/styles/style_search3860.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='themes/starrate/css/style3860.css') }}" />


<script type="application/javascript">
    baseurljs = 'https://mangarock.herokuapp.com/';
        tooltypejs = 'Computer';
</script>
<style>
    .rate_star.over {
        color: #00ff00;
    }
</style>
<script type="application/javascript">
    _base_url_search = 'https://mangarock.herokuapp.com/search/';
    _base_url_search_author = "https://mangarock.herokuapp.com/search_author/";
</script>
<style>
            @media(min-width:860px) {
                #top {background: url({{ url_for('static', filename='themes/home/images/back-to-top-white.png') }});}
            }
        </style>
</head>
<body class="trang-doc">
<div class="logo_chapter">
<a href="{{ url_for('home') }}" title="Manga Online">
<img src="{{ url_for('static', filename='themes/home/icons/logo_chap.png') }}" alt="Manga Online" title="Manga Online">
</a>
</div>
<div class="breadcrumb breadcrumbs bred_doc">
<div class="rdfa-breadcrumb">
<div>
<p>
<span class="breadcrumbs-title"> </span>
<span itemscope itemtype="https://data-vocabulary.org/Breadcrumb">
<a itemprop="url" href="{{url_for('home')}}" class="home" title="Manga Online">
<span itemprop="title">Manga Online</span>
</a>
</span>
<span class="separator">»</span>
<span itemscope itemtype="https://data-vocabulary.org/Breadcrumb">
<a itemprop="url" href="{{url_for('manga_id', manga_id = manga_details['id'])}}" title="{{manga_details['title']}}">
<span itemprop="title">{{manga_details['title']}}</span>
</a>
</span>
<span class="separator">»</span>
<span itemscope itemtype="https://data-vocabulary.org/Breadcrumb">
<a itemprop="url" href="{{ url }}">
<span itemprop="title"> {{ current_chapter_id }}</span>
</a>
</span>
</p>
</div>
</div>
</div>



<div class="option_wrap" style="position:relative;">

  <select class="custom_select" id="c_chapter" onchange="Changes('c_chapter');" style="200px">
    {% for chapter_link in chapter_option_list %}
        <option value="{{url_for('manga_id_chapter', manga_id = manga_details['id'], chapter_id = chapter_link[0])}}">{{ chapter_link[1] }}</option>
    {% endfor %}
  </select>

  <!-- Testing code for chapter option -->
  <div class="chapter_option" id="chapter_get">
    <div class="" style="width:auto; height:auto;">
      {% for chapter_link in chapter_option_list %}
        <a href="{{url_for('manga_id_chapter', manga_id = manga_details['id'], chapter_id = chapter_link[0])}}" class="next option_a">
          {{ chapter_link[1] }}
        </a><br>
      {% endfor %}
    </div>
  </div>

  <script type="text/javascript">
      $(document).ready(function() {
          $('#chapter_get').hide()
          $('#c_chapter').hover(
            function(){
              $('#chapter_get').show()
            },
            function(){
              $('#chapter_get').hide()
            });
          $('#chapter_get').hover(
            function(){
              $('#chapter_get').show()
            },
            function(){
              $('#chapter_get').hide()
            });
      });
  </script>

  <div class="btn-navigation-chap">
    {% if prev_chapter_id_identifier %}
    <a href="{{url_for('manga_id_chapter', manga_id = manga_details['id'], chapter_id = prev_chapter_id)}}" class="next">
      PREV CHAPTER
    </a>
    {% endif %}

    {% if next_chapter_identifier %}
    <a href="{{url_for('manga_id_chapter', manga_id = manga_details['id'], chapter_id = next_chapter_id)}}" class="back">
      NEXT CHAPTER
    </a>
    {% endif %}
  </div>
  <div class="clearfix"></div>
  <div>
    <h1 class="current-chapter">
      {{manga_details['title']}}:  {{ current_chapter_id }}
    </h1>
  </div>
  <div class="clearfix"></div>
</div>


<div class="info-top-chapter">
<h2>{{ manga_details['title'] }} {{ current_chapter_id }}</h2>
<p>You're reading <strong>{{manga_details['title']}}  {{ current_chapter_id }}</strong> at Mangakakalot.com.</p>
<p>Please use the Bookmark button to get notifications about the latest chapters next time when you come visit Mangakakalot. You can use the F11 button to <a href="{{ url_for('home') }}"><strong>read manga</strong></a> in full-screen(PC only). It will be so grateful if you let Mangakakalot be your favorite <strong>manga site</strong>. We hope you'll come join us and become a manga reader in this community! </p>
<p>Have a beautiful day!</p>
<!-- <p style="font-size: 14px;color: #19b65b;">Image shows slow or error, you should choose another IMAGE SERVER.</p> -->
<!-- <div class="options-chapter">
<div class="pn-option">
<span class="span-name">IMAGE SERVER: </span>
<a href="https://mangarock.herokuapp.com/change_content_s1" rel="nofollow" class="span-server isactive">1</a>
<a href="https://mangarock.herokuapp.com/change_content_s2" rel="nofollow" class="span-server ">2</a>
</div>
</div> -->
</div>
<!-- <div style="text-align:center;">
<iframe src="/ads/adtrue_728x90_desktop.html" frameborder="0" scrolling="no" allowtransparency="true" style="width: 728px;height: 90px;"></iframe>
</div> -->

<div class="vung-doc" id="vungdoc">

  {% for image in image_list %}
    <img src="{{ image }}" alt="{{manga_details['title']}}" title="{{manga_details['title']}}" />
  {% endfor %}

  <!-- <iframe src="/ads/adtrue_728x90_desktop.html" frameborder="0" scrolling="no" allowtransparency="true" style="text-align: center; width: 728px; height: 90px; display: block; margin: 0 auto 15px; overflow: hidden;"></iframe> -->
</div>

<div style="text-align:center;">
  <div style="max-height: 250px; text-align: center; width: 810px; margin: 5px auto; overflow: hidden; max-width: 100%;">
    <!-- <div style="float: left; max-width: 300px; overflow: hidden;">
      <iframe src="/ads/bidgear_300x250_dekstop.html" frameborder="0" scrolling="no" allowtransparency="true" style="width: 300px;height: 250px;">
    </iframe>
    </div> -->
    <a href="{{url_for('home')}}"><img src="https://mangarock.herokuapp.com//themes/home/images/clickhere2.png" style="float: left;width: 200px;height : 200px;" /></a>
    <!-- <div style="float: left; max-width: 300px; overflow: hidden;">
      <iframe src="/ads/bidgear_300x250_dekstop_2.html" frameborder="0" scrolling="no" allowtransparency="true" style="width: 300px;height: 250px;">
    </iframe>
    </div> -->
  </div>
  <div style="clear: both;"></div>
  <div style="clear: both;"></div>
</div>



<div class="option_wrap" style="position:relative;">

  <select class="custom_select" id="c_chapter_2" onchange="Changes('c_chapter');" style="200px">
    {% for chapter_link in chapter_option_list %}
        <option value="{{url_for('manga_id_chapter', manga_id = manga_details['id'], chapter_id = chapter_link[0])}}">{{ chapter_link[1] }}</option>
    {% endfor %}
  </select>

  <!-- Testing code for chapter option -->
  <div class="chapter_option" id="chapter_get_2">
    <div class="" style="width:auto; height:auto;">
      {% for chapter_link in chapter_option_list %}
        <a href="{{url_for('manga_id_chapter', manga_id = manga_details['id'], chapter_id = chapter_link[0])}}" class="next option_a">
          {{ chapter_link[1] }}
        </a><br>
      {% endfor %}
    </div>
  </div>

  <script type="text/javascript">
      $(document).ready(function() {
          $('#chapter_get_2').hide()
          $('#c_chapter_2').hover(
            function(){
              $('#chapter_get_2').show()
            },
            function(){
              $('#chapter_get_2').hide()
            });
          $('#chapter_get_2').hover(
            function(){
              $('#chapter_get_2').show()
            },
            function(){
              $('#chapter_get_2').hide()
            });
      });
  </script>

  <div class="btn-navigation-chap">
    {% if prev_chapter_id_identifier %}
    <a href="{{url_for('manga_id_chapter', manga_id = manga_details['id'], chapter_id = prev_chapter_id)}}" class="next">
      PREV CHAPTER
    </a>
    {% endif %}

    {% if next_chapter_identifier %}
    <a href="{{url_for('manga_id_chapter', manga_id = manga_details['id'], chapter_id = next_chapter_id)}}" class="back">
      NEXT CHAPTER
    </a>
    {% endif %}
  </div>
  <div class="clearfix"></div>
</div>



<div class="breadcrumb breadcrumbs bred_doc">
  <div class="rdfa-breadcrumb">
    <div>
      <p>
        <span class="breadcrumbs-title"> </span>
        <span>
          <a href="{{ url_for('home') }}" class="home">Manga Online</a>
        </span>
        <span class="separator">»</span>
        <span>
          <a href="{{ url }}" title="A Returner's Magic Should Be Special">{{manga_details['title']}}</a>
        </span>
        <span class="separator">»</span>
         {{ current_chapter_id }}
      </p>
    </div>
  </div>
</div>




<div class="comments">
  <p>
    You just finished reading <strong>{{manga_details['title']}}  {{ current_chapter_id }}</strong> online. The Bookmark button is a very simple way to get notifications when your favorite manga have new updates. It's very useful to anyone who loves reading <a href="{{ url_for('home') }}" style="margin: 0;padding: 0;"><strong>manga</strong></a>. Let's us guide you to find your best manga to read. And if you find any errors, let us know so we can fix it as soon as possible!
  </p>
  <p>
    You can support us by leaving comments or just a click on the Like button!
  </p>
  <!-- <div style="margin-top: 0px;" class="fb-like like-trang-doc" data-href="{{ url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true">
  </div> -->
  <div style="clear: both;"></div>

  <!-- <div class="tags_chapter">
    <ul class="chap-lienquan">
      <li>
        <span>Related chapter: </span>
      </li>
      <li>
        <a href="{{url_for('manga_id', manga_id = manga_details['id'])}}" title="{{manga_details['title']}}">{{manga_details['title']}} Chapter 47</a>
      </li>
      <li><a href="{{ url }}" title="{{manga_details['title']}}">{{manga_details['title']}} Chapter 49</a>
      </li>
    </ul>
    <ul class="chap-lienquan">
    </ul>
  </div> -->

  <div>
    <span><span class="rate">Rating:</span>
    <em class="rate_row" id="rate_row"></em>
    <em class="rate_row_result"></em>
    <p id="rate_row_cmd" style="text-transform:none;color:gray;line-height:1.5" class="rate-manga">
    <span xmlns:v="https://rdf.data-vocabulary.org/#" typeof="v:Review-aggregate">
    <span property="v:itemreviewed">Mangakakalot.com</span>
    <span rel="v:rating">
    <span typeof="v:Rating">rate:
    <span property="v:average">4.77</span>/
    <span property="v:best">5</span>
    </span>
    </span> -
    <span property="v:votes">1649</span> votes
    </span>
    </p>
    </span>
  </div>

  <!-- <div class="fb-comments" data-href="{{ url }}" data-width="100%" data-numposts="5" data-colorscheme="light"></div> -->
  <div class="clearfix"></div>


  <div class="new_update_trangdoc" style="margin-top: 0px;">
    <div class="wrap_update tab_anh_dep danh_sach">
      <h4 style="padding: 0;">RECENTLY UPDATED MANGA</h4>

        {% for related_m in related_manga %}
        <div class="update_item">
          <a rel="nofollow" href="{{url_for('manga_id', manga_id = related_m['id'])}}" title="{{related_m['title']}}">
            <img width="90" height="130" src="{{related_m['image']}}"  alt="{{related_m['title']}}">
          </a>
          <h3 class="nowrap">
            <a href="{{url_for('manga_id', manga_id = related_m['id'])}}" title="{{related_m['title']}}">{{related_m['title']}}</a>
          </h3>
          <a href="{{url_for('manga_id', manga_id = related_m['id'])}}" title="{{related_m['title']}}" class="chapter">{{related_m['summary'] | truncate(100) }}
          </a>
          <!-- <span>View : 237,622</span> -->
        </div>
        {% endfor %}

      <div class="clearfix"></div>
    </div>
  </div>


  <h2 style="font-size: 16px; font-weight: bold; color: #31a95b; line-height: 28px;">{{manga_details['title']}}  {{ current_chapter_id }} summary</h2>
  <p>You're reading {{manga_details['title']}}. This manga has been translated by Updating. Author:
    {% for author in manga_details['author'] %}
      {{ author }},
    {% endfor %}
  </p>
  <p>If you want to read free manga, come visit us at anytime. We promise you that we will always bring you the latest, new and hot manga everyday. In case you don't know, Mangakakalot is a very cool responsive website and mobile-friendly, which means the images can be auto-resize to fit your pc or mobile screen. You can experience it by using your smartphone and <a href="{{ url_for('home') }}" style="margin: 0;padding: 0;"><strong>read manga online</strong></a> right now. It's manga time!!</p>
</div>






<div class="clearfix"></div>
<script type="application/javascript">
        $votepointstar = '5';
        $defaultpointrating = '4.77';
        $postidhowrating = '28834';
        $ddrate = 'https://mangarock.herokuapp.com/' + 'update_votes';

        $(document).ready(function() {
            if (!$.cookie("vote_" + $postidhowrating)) {
                $('.rate_row').starwarsjs({
                    stars : 5,
                    count : 1,
                    default_stars : $votepointstar,
                    on_select : function(datares){
                        $('.rate_row_result').starwarsjs({
                            stars : 5,
                            count : 1,
                            default_stars : datares,
                            disable : 0
                        });
                        document.getElementById("rate_row").style.display="none";
                        document.getElementById("rate_row_cmd").innerHTML="Thanks for your vote!";

                        var date = new Date();
                        date.setTime(date.getTime() + (3 * 60 * 60 * 1000));
                        $.cookie("vote_" + $postidhowrating, "voted", {expires: date, path: "/"});

                        jQuery.ajax({
                            type: 'POST',
                            data: {'rate': datares, 'idmanga': $postidhowrating },
                            url: $ddrate
                        });
                    }
                });
            } else {
                $('.rate_row').starwarsjs({
                    stars : 5,
                    count : 1,
                    default_stars :  $votepointstar,
                    disable :  0
                });
            }
        });

        function Changes(idcontrol){
            var myselect = document.getElementById(idcontrol);
            var chapter_id_new = myselect.options[myselect.selectedIndex].value;
             // var chapter_id_new = myselect.options.value;
            var url = 'localhost:5000' + chapter_id_new

            // '{{url_for('manga_id_chapter', manga_id = manga_details['id'], chapter_id = chapter_id_new)}}';
            // window.location = url.substring(0,url.length - 1) + chapter_id;
            // alert(url)
            // window.location = url;
            window.location.href = url

        }

        // function Changespage($page){
        //     var url = 'https://mangarock.herokuapp.com/chapter/zu917722/chapter_1';
        //     window.location = url.substring(0,url.length - 1) + $page;
        // }

        // $(document).ready(function() {
        //
        //   $("#chapter_option").click(function() {
        //   var open = $(this).value
        //   alert(open)
        //   });
        // })


    </script>




<footer>
  <div class="footer-content">
    <p>Why You Should <a href="{{ url_for('home') }}">Read Manga</a> Online at Mangakakalot.com ?</p>
    <p>There are many reasons you should read Manga online, and if you are a fan of this unique storytelling style then learning about them is a must. One of the biggest reasons why you should read Manga online is the money it can save you. While there's nothing like actually holding a book in your hands, there's also no denying that the cost of those books can add up quickly. So why not join the digital age and read Manga online? Another big reason to read Manga online is the huge amount of material that is available. When you go to a comic store or other book store their shelves are limited by the space that they have. When you go to an online site to read Manga those limitations don't exist. So if you want the best selection and you also want to save money then reading Manga online should be an obvious choice for you</p>
    <p>©2016 Mangakakalot.com, all rights reserved. Top speed, completely free. </p>
    <p>Current Time is Feb-18-2019 18:21:40 PM.</p>
    <p>If you have questions about anything or advertising, please contact us at <b><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="3b565a555c5a505a505a57544f7b5c565a525715585456">[email&#160;protected]</a></b></p>
  </div>
</footer>





<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='themes/home/js/custom-fotter7839.js') }}"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131398904-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131398904-1');
</script>
<div id="fb-root"></div>
<script>
    $appidfb = '1664224760511779';

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=" + $appidfb;
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>
<noscript>
