<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb#">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
  <link rel="alternate" hreflang="en-US" href="index.html" />
  <meta name="robots" content="index,follow" />
  <meta charset="utf-8">



  <title>{{manga_details['title']}}</title>
  <meta name="description" content="{{manga_details['story_alternative'][0]}}" />
  <meta name="twitter:title" content="{{manga_details['title']}}">
  <meta name="twitter:description" content="{{manga_details['story_alternative'][0]}}">
  <meta property="og:title" content="{{manga_details['title']}}" />
  <meta property="og:description" content="{{manga_details['story_alternative'][0]}}" />




  <meta property="og:site_name" content="mangakakalots.com" />
  <link rel="shortcut icon" href="../static/themes/home/images/favicon.ico" />

  <script type="text/javascript" src="../static/themes/home/js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="../static/themes/home/js/owl.carousel.js"></script>
  <script type="text/javascript" src="../static/themes/home/js/back-to-top3860.js?v=1"></script>
  <script type="text/javascript" src="../static/themes/home/js/ddimgtooltip3860.js?v=1"></script>
  <script type="text/javascript" src="../static/themes/home/js/fsearch614e.js?v=1.8?v=1"></script>
  <script type="text/javascript" src="../static/themes/home/js/custom3860.js?v=1"></script>
  <script type="text/javascript" src="../static/themes/home/js/cookie3860.js?v=1"></script>
  <script type="text/javascript" src="../static/themes/starrate/js/starwarsjs3860.js?v=1"></script>

  <link rel="stylesheet" href="../static/themes/home/styles/style.css">
  <link rel="stylesheet" href="../static/themes/home/styles/owl.carousel3860.css?v=1">
  <link rel="stylesheet" href="../static/themes/home/styles/owl.theme3860.css?v=1">
  <link rel="stylesheet" href="../static/themes/home/styles/ddimgtooltip3860.css?v=1">
  <link rel="stylesheet" href="../static/themes/home/styles/style_search3860.css?v=1">
  <link rel="stylesheet" href="../static/themes/starrate/css/style3860.css?v=1" />



  <script type="application/javascript">
      baseurljs = 'index.html';
      tooltypejs = 'Computer';
  </script>

  <style>
      .rate_star.over {
          color: #00ff00;
      }
  </style>

  <script type="application/javascript">
      _base_url_search = 'search/index.html';
      _base_url_search_author = "search_author/index.html";
  </script>

</head>



<body>

<!-- Header Start Here -->
  <header>

    <!-- Top Container (Logo, Search form, Login-Registration, Mobile-Menu, Primary Menu) Code Start Here -->
    <div class="container container-top">

      <!-- Main Logo Code -->
      <div class="top-logo">
        <a href="{{ url_for('home') }}" title="Manga Online">
          <img src="../static/themes/home/icons/logo.png" alt="Manga Online" title="Manga Online">
        </a>
      </div>
      <!-- Main Logo Code End -->


      <!-- Top Header Section (Search form, Login-Registration) Start Here -->
      <div class="top-header">



      <!-- Search Form Start -->
      <div class="searching">
        <form action="{{url_for('menu_search')}}" method="POST" style="position:relative;">
          <input name='searchtext' autocomplete="off"  placeholder="Search manga..." />
          <select id="search_style" name="search_select" style="">
            <option value="Manga Name">Manga Name</option>
            <option value="Authors">Authors</option>
          </select>
          <input type="submit" value="submit" style="position:absolute; top:0px; left:0px; width:20px; height:32px;cursor:pointer;border-bottom:0px;">
        </form>
      </div>
      <!-- Search Form End -->


      {% if session %}
          <div class="user-options">
            <span class="name">
              <a href="{{ url_for('account') }}">
                <img src="../static/themes/home/images/user_avatar.jpg">
                <p>{{session.username}}</p>
              </a>
            </span>
            <a href="{{ url_for('bookmark') }}"><i class="notification">{% if total_bookmark != 0 %}<em class="notifications_num"> {{total_bookmark}}  </em>{% endif %}</i></a>
            <a href="{{ url_for('history') }}"><i class="history"></i></a>
            <a href="{{ url_for('logout') }}"><i class="logout"></i></a>
          </div>
      {% else %}
            <!-- Login & Regitration Code -->
          <div class="user-options">
            <div class="login-top">
              <a rel="nofollow" href="{{ url_for('login') }}" class="btn-login">
                Login
              </a>
              <a rel="nofollow" href="{{ url_for('register') }}" class="btn-register">
                Register
              </a>
            </div>
          </div>
          <!-- Login & Registration Code End -->
      {% endif %}


      </div>
      <!-- Top Header Section (Search form, Login-Registration) End Here -->



      <!-- Mobile Menu Button Code -->
      <a class="mobile-menu">
        MENU
      </a>
      <!-- Mobile Menu Button Code End -->


      <!-- Navigation Menu Start Here -->
      <nav class="wrap-menu-primary">
        <ul id="menu-menu-top" class="menu-primary">
        <li class="menu-item"><a href="{{ url_for('home') }}">HOME</a></li>
        <li class="menu-item"><a href="{{ url_for('manga', page=1) }}" title="LATEST MANGA">LATEST MANGA</a></li>
        <li class="menu-item"><a href="{{ url_for('manga_hot', page=1) }}" title="HOT MANGA">HOT MANGA</a></li>
        <li class="menu-item"><a href="{{ url_for('manga_new', page=1) }}" title="NEW MANGA">NEW MANGA</a></li>
        <li class="menu-item"><a href="{{ url_for('manga_completed', page=1) }}" title="COMPLETED MANGA">COMPLETED MANGA</a></li>
        </ul>
      </nav>
      <!-- Navigation Menu End Here -->

    </div>
    <!-- Top Container (Logo, Search form, Login-Registration, Mobile-Menu, Primary Menu) Code Start Here -->

  </header>
<!-- Header End Here -->



<div class="container">
<div class="slide">

<h3 class="title update-slide">
  POPULAR MANGA
</h3>




<!-- Carousel Start Here -->
<div id="owl-demo" class="owl-carousel">

{% for item in popular_manga_list %}
  <div class="item">
    <img src="{{item['image']}}" onerror="javascript:this.src='../static/themes/home/images/404-avatar.png';" />
    <div class="slide-caption">
      <h3>
        <a href="{{url_for('manga_id', manga_id = item['id'])}}" title="{{item['title']}}">
          {{item['title']}}
        </a>
      </h3>
      <!-- <a href="chapter/pn918005/chapter_58.html" title="Chapter 58">
        Chapter 58
      </a> -->
    </div>
  </div>
{% endfor %}



</div>
<!-- Carousel End Here -->


</div>









<div class="main-wrapper">
<div class="leftCol">
<div style="float: left;width: 100%;text-align: center;">
<div style="max-width: 728px;max-height: 90px;margin: 0px auto;overflow: hidden;">
<!-- <iframe src="/ads/adtrue_728x90_desktop.html" scrolling="no" frameborder="0" style="width: 728px;height: 90px;"></iframe> -->
</div>
</div>
<div class="breadcrumb breadcrumbs">
<div class="rdfa-breadcrumb">
<div>
<p>
<span class="breadcrumbs-title"></span>
<span itemscope itemtype="https://data-vocabulary.org/Breadcrumb">
<a itemprop="url" href="{{url_for('home')}}" class="home" title="Manga Online">
<span itemprop="title">Manga Online</span>
</a>
</span>
<span class="separator">»</span>
<span itemscope itemtype="https://data-vocabulary.org/Breadcrumb">
<a itemprop="url" href="#">
<span itemprop="title">{{manga_details['title']}}</span>
</a>
</span>
</p>
</div>
</div>
</div>
<div class="manga-info-top">
<div class="manga-info-pic">
<img src="{{manga_details['image']}}"  alt="{{manga_details['title']}}" />
<span onclick="movetolistchapter();" class="btn_chapterslist">CHAPTER LIST</span>
</div>
<ul class="manga-info-text">
<li>
<h1>{{manga_details['title']}}</h1>
<span class="story-alternative">{{manga_details['story_alternative'][0]}}</span> </li>

<li>
  Author(s) :
  {% for author in manga_details['author'] %}
  <a rel='nofollow' href="{{url_for('manga_author_search', author=author)}}">{{author}}</a>,
  {% endfor %}
</li>
<li>Status : {{manga_details['status']}}</li>
<li>Last updated : {{manga_details['last_updated']}}</li>
<li style="display: none;">TransGroup : </li>
<!-- <li>View : 12,357,731</li> -->

<li>
  Genres :
  {% for genre in manga_details['genres'] %}
  <a rel='nofollow' style="color:#059e9a;" href="{{url_for('manga_genre_search', page = 1, genre=genre)}}">{{genre}}</a>,
  {% endfor %}
</li>

<li style="height: 27px;"><span>Rating : </span>
<em class="rate_row" id="rate_row"></em>
<em class="rate_row_result"></em>
</li>
<li style="line-height: 20px; font-size: 11px; font-style: italic; padding: 0px 0px 0px 44px;">
<span style="line-height: 100%!important;">&nbsp;</span>
<em id="rate_row_cmd" style="color: black;">
<em xmlns:v="https://rdf.data-vocabulary.org/#" typeof="v:Review-aggregate">
<em property="v:itemreviewed"></em>
<em rel="v:rating">
<em typeof="v:Rating">rate :
<em property="v:average">{{manga_details['score']}}</em>/
<em property="v:best">5</em>
</em>
</em> - <em property="v:votes">{{manga_details['votes']}}</em> votes
</em>
</em>
</li>


{% if session %}
    <!-- bookmark button -->
    <li class="li_bookmark">
      <div id="Bookmark">
        <a href="{{url_for('add_bookmark', manga_id = manga_details['id'])}}">
          <img src="../static/themes/home/images/theodoi.png" style="height: 50px;">
        </a>
      </div>
    </li>
    <!-- bookmark button end -->
{% else %}
    <!-- bookmark button -->
    <li class="li_bookmark">
      <div id="Bookmark">
        <a onclick="addnote();">
          <img src="../static/themes/home/images/theodoi.png" style="height: 50px;">
        </a>
      </div>
    </li>
    <!-- bookmark button end -->
{% endif %}


<li>
<div><p class="fb-save" data-uri="" data-size="small" id="savefilmfb"></p></div>
<div class="fb-like" data-href="" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
</li>
</ul>
</div>

<!-- manga summary code block -->
<div id="noidungm" style="font: 400 14px Open Sans, Tahoma, Geneva, sans-serif;color: #3e3e3e;width: 96%;padding: 10px 2%;background: #FFF;text-align: justify; border-top: 1px dashed #ff530d;margin-bottom: 0px;float: left;overflow: hidden;">
<h2><p style="color: red;">{{manga_details['title']}}: </p></h2>
{{manga_details['summary']}}
</div>
<!-- manga summary code block end -->



<div style="clear: both;"></div>

<!-- Show more & Show less button code -->
<div style="width: 100%; text-align: center;">

<span style="color: blue;cursor: pointer;display: none;" id="content_more" class="content_more">
  <img src="../static/themes/home/images/showmore.png" />
</span>

<span style="color: blue;cursor: pointer;" id="content_less" class="content_less">
  <img src="../static/themes/home/images/showless.png" />
</span>

</div>
<!-- Show more & Show less button code end -->



<div style="clear: both;"></div>

<!-- Scrolling chapter part of manga start here  -->
<div id="chapter" class="chapter">
  <div class="manga-info-chapter">
    <div class="row title-list-chapter">
      <span>Chapter name</span>
      <!-- <span>View</span> -->
      <span>Time uploaded</span>
    </div>
    <div class="chapter-list">
      <!-- each row represent a chapter of the manga -->
      {% for item in chapter_list %}
      <div class="row">
        <span><a href="{{url_for('manga_id_chapter', manga_id = manga_id_here, chapter_id = item[0])}}" title="{{manga_details['title']}}">{{item[2]}}</a></span>

        <span>{{item[3]}}</span>

        <!-- <span>14 hour ago </span> -->
      </div>
      {% endfor %}


    </div>
  </div>
</div>
<!-- Scrolling chapter part of manga end here  -->



<div class="comment-info">
<div class="fb-comments" data-href="https://manganelo.com/manga/zu917722" data-width="100%" data-numposts="10" data-colorscheme="light">
</div>
</div>
<script type="application/javascript">
    $votepointstar = '5';
    $defaultpointrating = '4.77';
    $postid = '28834';
    $ddrate = '';
    $ddbookmark = ''
    $lg = false;
</script>
<script type="text/javascript" src="../static/themes/home/js/custom_story.js"></script> </div>
<div class="middleCol">
<div style="float: left;width: 100%;text-align: center;">
<div style="max-width: 300px;max-height: 250px;margin: 0px auto;overflow: hidden;">
<!-- <iframe src="/ads/adtrue_300x250_desktop.html" scrolling="no" frameborder="0" style="width: 300px;height: 250px;"></iframe> -->
</div>
</div>
<div class="xem-nhieu">
<h3 class="title all-title">Most Popular Manga</h3>
<div class="all">
  {% for item in most_popular_manga %}
      <div class="xem-nhieu-item">
      <h3><a href="{{url_for('manga_id', manga_id = item['id'])}}" title="{{item['title']}}">{{item['title']}}</a></h3>
      </div>
  {% endfor %}
</div>
</div>
<div class="tag tag-left">
<h3 class="title tag-title">GENRES</h3>
    <ul class="tags tag-name">
          {% for genre in genres %}
            <li>
              <a rel="tag" href="{{url_for('manga_genre_search', page = 1, genre=genre)}}" title="{{genre}}">
                {{genre}}
              </a>
            </li>
          {% endfor %}
    </ul>
    <ul class="tags spec-tag">
      <li>
        <a rel="tag" href="{{ url_for('manga', page=1) }}" title="Latest">
          Latest
        </a>
      </li>

      <li>
        <a rel="tag" href="{{ url_for('manga_new', page=1) }}" title="Newest">
          Newest
        </a>
      </li>

      <li>
        <a rel="tag" href="{{ url_for('manga_hot', page=1) }}" title="Top view">
          Top view
        </a>
      </li>

      <li>
        <a rel="tag" href="{{url_for('manga_completed', page = 1)}}" title="Completed">
          Completed
        </a>
      </li>

      <li>
        <a rel="tag" href="{{url_for('manga_ongoing', page = 1)}}" title="Ongoing">
          Ongoing
        </a>
      </li>
    </ul>
</div>
<div style="clear: both"></div>
</div>
</div>
</div>









<footer>
  <div class="footer-content">
    <p>Why You Should <a href="{{ url_for('home') }}">Read Manga</a> Online?</p>
    <p>There are many reasons you should read Manga online, and if you are a fan of this unique storytelling style then learning about them is a must. One of the biggest reasons why you should read Manga online is the money it can save you. While there's nothing like actually holding a book in your hands, there's also no denying that the cost of those books can add up quickly. So why not join the digital age and read Manga online? Another big reason to read Manga online is the huge amount of material that is available. When you go to a comic store or other book store their shelves are limited by the space that they have. When you go to an online site to read Manga those limitations don't exist. So if you want the best selection and you also want to save money then reading Manga online should be an obvious choice for you</p>
     <p>©2016 {{url_for('home')}}, all rights reserved. Top speed, completely free. </p>
    <!-- <p>Current Time is Feb-15-2019 19:15:42 PM.</p>
    <p>If you have questions about anything or advertising, please contact us at <b><a href="cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="fd909c939a9c969c969c919289bd9a909c9491d39e9290">[email&#160;protected]</a></b></p> -->
  </div>
</footer>



<!-- Javascript below footer section, footer js is influencial for carousel.js work -->
<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script type="text/javascript" src="../static/themes/home/js/custom-fotter7839.js?v=1.2"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131398904-1"></script>





</body>


</html>
